.topHeder  {
  width: 100%;
  height: 0.4rem !important;
  background: #141c2a;
  display: flex;
}
.topHeder .header-left {
  width: 25%;
  height: 0.35rem;
  padding-left: 0.01rem;
  line-height: 0.35rem;
}
.topHeder  .header-center {
  width: 50%;
  height: 0.4rem;

  position: relative;
}
.topHeder .header-center .header-title {
  text-align: center;
  color: #ffffff;
  font-size: 0.2rem;
  text-shadow: 0 0 0.3rem #00d8ff;
  line-height: 0.4rem;
}

.topHeder .header-right {
  width: 25%;
  height: 0.4rem;
  line-height: 0.4rem;
}
.topHeder ul,
ol {
  list-style: none;
}

.topHeder .menu {
  position: relative;
  font-size: 14px;
}
.topHeder .nav > .navli {
  display: inline-block;
  position: relative;
  height: 0.3rem;
  color:#fff !important;
}
.topHeder .nav > .navli > a {

  text-decoration: none;
  height: 0.3rem;
  line-height: 0.3rem;
}
.topHeder .nav > .navli:hover > a {
  background-color: rgb(255, 255, 0);
  color: rgb(0, 0, 0);
}
.topHeder .nav a {
  color: #f5f5f5;
  display: block;
  text-decoration: none;
}
.topHeder .nav ul {
  display: none;
  position: absolute;
  background-color: transparent;
  z-index: 999;
}
.topHeder .nav ul li {
  position: relative;
}
.topHeder .nav ul li + li {
  border-top: 1px solid rgb(70, 70, 70);
}

.topHeder .nav > li:hover > ul {
  display: block;
  padding-top: 0.4em;
  padding-left: 0;
}
.topHeder .nav > li > ul > li > a {

  background-color: rgb(50, 50, 50);
  height: 0.2rem;
  line-height: 0.2rem;
  width: 130px;
  text-align: center;
}
.topHeder .nav > li > ul > li:hover > a {
  background-color: rgb(255, 255, 0);
  color: rgb(0, 0, 0);
  height: 0.2rem;
  line-height: 0.2rem;
}
.el-picker-panel {
  color: #000 !important;
}
.el-range-editor.is-active{
  background: #141c2a;
  color: #fff;
}
.el-date-editor .el-range-separator{
  color: #fff !important;
}
.el-range-editor .el-range-input{
  background: #141c2a;
  color: #fff;

}
.el-range-editor.el-input__inner{
  background: #141c2a;
  color: #fff;
}
.el-date-editor .el-range-input{
  color: #fff !important;
}